:root {
    --container-gap: 25px;
}

.container {
    margin-bottom: var(--container-gap);

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--foreground-color);
}

.container>header {
    color: var(--header-color);
    font-weight: 700;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 10px 15px;
}

.container>.content {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 15px;
}