:root {
    --main-width: 800px;
    --footer-height: 1.5cm;
    --footer-button-size: .8cm;
}

:root[theme=light] {
    --icon-light-display: none;
    --icon-dark-display: inline;

    --background-color: #f5f8fa;
    --header-color: #333;
}

:root[theme=dark] {
    --icon-light-display: inline;
    --icon-dark-display: none;

    --background-color: #0A0705;
    --header-color: #CCCCCC;
}

body {
    background-color: var(--background-color);
    font-family: 'Raleway', 'Roboto', sans-serif;
    color: var(--text-color);
    overflow-y: hidden;
}

main {
    width: var(--main-width);
    height: calc(100vh - var(--footer-height) - var(--border-width) - 2*var(--container-gap));
    margin: var(--container-gap) auto;

    display: grid;
    align-items: center;
}

#footer {
    display: flex;
    box-sizing: border-box;

    border-top: var(--border-width) solid var(--border-color);
    padding: 0 15px;

    width: 100%;
    min-width: 675px;

    height: var(--footer-height);
    line-height: var(--footer-height);

    background-color: var(--foreground-color);
}

#footer>* {
    display: inline-block;
    height: var(--footer-height);
    vertical-align: middle;
    flex: 1 0 auto;
}

#logo {
    text-decoration: none;
}

#logo>img {
    height: 1.25cm;
    vertical-align: -15px;
}

#logo>h1 {
    display: inline;
    font-size: 18pt;
}

#options {
    text-align: center;
}

#options>span {
    text-align: left;
    display: inline-block;
    width: 300px;
    margin-left: 15px;
}

#options>span>span {
    float: right;
}

#buttons {
    text-align: right;
    vertical-align: middle;
    font-size: 0;
}

#buttons>button {
    margin-left: 15px;
    width: var(--footer-button-size);
    height: var(--footer-button-size);
    vertical-align: middle;
}

#add-button>img {
    width: 120%;
    height: 120%;
    margin: -10%;
}

#icon-dark {
    display: var(--icon-dark-display);
    width: 75%;
    height: 75%;
    margin: 0 15% 3% 15%;
}

#icon-light {
    display: var(--icon-light-display);
    width: 80%;
    height: 80%;
    margin: 10%;
}

#dropup-button>img {
    width: 80%;
    height: 80%;
    margin: 10%;
}

#dropup {
    display: none;
    position: absolute;
    bottom: var(--footer-height);
    right: 0;

    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    background-color: var(--foreground-color);
}

#dropup>a {
    display: block;

    height: 40px;
    padding: 0 20px;

    line-height: 40px;
    text-align: center;
    font-size: initial;
}

#dropup>a:first-child {
    border-bottom: var(--border-width) solid var(--border-color);
}

#dropup>a:last-child {
    border-top: var(--border-width) solid var(--border-color);
}

#dropup>a:hover {
    background-color: var(--button-hover-background-color);
}

#dropup>a:active {
    background-color: var(--button-press-background-color);

}

@media screen and (max-width: 849px) {
    main {
        width: auto;
        margin: var(--container-gap);
    }
}

@media screen and (max-width: 674px) {
    main {
        height: calc(98vh - var(--footer-height) - var(--border-width) - 2*var(--container-gap));
    }
}