@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --border-width: 1px;
    --border-radius: 5px;
    --container-gap: 25px;
    --main-width: 800px;
    --footer-height: 1.5cm;
    --footer-button-size: .8cm;
}

:root[theme=light] {
    --icon-light-display: none;
    --icon-dark-display: inline;

    --background-color: #f5f8fa;
    --foreground-color: white;
    --text-color: #434b4f;
    --header-color: #333;
    --hover-color: black;
    --border-color: #d3e0e9;

    --button-border-color: #ccc;
    --button-hover-background-color: #e5e5e5;
    --button-hover-border-color: #adadad;
    --button-press-background-color: #d4d4d4;
    --button-press-border-color: #8c8c8c;
}

:root[theme=dark] {
    --icon-light-display: inline;
    --icon-dark-display: none;

    --background-color: #0A0705;
    --foreground-color: black;
    --text-color: #BCB4B0;
    --header-color: #CCCCCC;
    --hover-color: white;
    --border-color: #2C1F16;

    --button-border-color: #333333;
    --button-hover-background-color: #1A1A1A;
    --button-hover-border-color: #525252;
    --button-press-background-color: #2B2B2B;
    --button-press-border-color: #737373;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--background-color);
    font-family: 'Raleway', 'Roboto', sans-serif;
    color: var(--text-color);
    overflow-y: hidden;
}

a {
    text-decoration: underline dotted;
    color: var(--text-color);
}

a:hover,
a:active {
    color: var(--hover-color);
}

.btn {
    background-color: var(--foreground-color);
    border: var(--border-width) solid var(--button-border-color);
    border-radius: var(--border-radius);
}

.btn:hover {
    background-color: var(--button-hover-background-color);
    border-color: var(--button-hover-border-color);
}

.btn:active {
    background-color: var(--button-press-background-color);
    border-color: var(--button-press-border-color);
}

main {
    width: var(--main-width);
    height: calc(100vh - var(--footer-height) - var(--border-width) - 2*var(--container-gap));
    margin: var(--container-gap) auto;

    display: grid;
    align-items: center;

}

#path {
    font-size: 10pt;
    font-style: italic;
    padding: 7px 15px;
    border-radius: var(--border-radius);
}

.container {
    margin-bottom: var(--container-gap);

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--foreground-color);
}

.container>header {
    color: var(--header-color);
    font-weight: 700;
    border-bottom: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 10px 15px;
}

.container>.content {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 15px;
}

#footer {
    display: flex;
    box-sizing: border-box;

    border-top: var(--border-width) solid var(--border-color);
    padding: 0 15px;

    width: 100%;
    min-width: 675px;

    height: var(--footer-height);
    line-height: var(--footer-height);

    background-color: var(--foreground-color);
}

#footer>* {
    display: inline-block;
    height: var(--footer-height);
    vertical-align: middle;
    flex: 1 0 auto;
}

#logo {
    text-decoration: none;
}

#logo>img {
    height: 1.25cm;
    vertical-align: -15px;
}

#logo>h1 {
    display: inline;
    font-size: 18pt;
}

#options {
    text-align: center;
}

#options>span {
    text-align: left;
    display: inline-block;
    width: 300px;
    margin-left: 15px;
}

#options>span>span {
    float: right;
}

#buttons {
    text-align: right;
    vertical-align: middle;
    font-size: 0;
}

#buttons>button {
    margin-left: 15px;
    width: var(--footer-button-size);
    height: var(--footer-button-size);
    vertical-align: middle;
}

#add-button>img {
    width: 120%;
    height: 120%;
    margin: -12.5% -10% -7.5% -10%;
}

#icon-dark {
    display: var(--icon-dark-display);
    width: 75%;
    height: 75%;
}

#icon-light {
    display: var(--icon-light-display);
    width: 80%;
    height: 80%;
    margin: 10%;
}

#dropup-button>img {
    width: 80%;
    height: 80%;
    margin: 10%;
}

#dropup {
    display: none;
    position: absolute;
    bottom: var(--footer-height);
    right: 0;

    border: var(--border-width) solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    background-color: var(--foreground-color);
}

#dropup>a {
    display: block;

    height: 40px;
    padding: 0 20px;

    line-height: 40px;
    text-align: center;
    font-size: initial;
}

#dropup>a:first-child {
    border-bottom: var(--border-width) solid var(--border-color);
}

#dropup>a:last-child {
    border-top: var(--border-width) solid var(--border-color);
}

#dropup>a:hover {
    background-color: var(--button-hover-background-color);
}

#dropup>a:active {
    background-color: var(--button-press-background-color);

}

@media screen and (max-width: 849px) {
    main {
        width: auto;
        margin: var(--container-gap);
    }
}

@media screen and (max-width: 674px) {
    main {
        height: calc(98vh - var(--footer-height) - var(--border-width) - 2*var(--container-gap));
    }
}